{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "camelcase": ["error", {"allow": ["aa_bb"]}],
    "react/require-default-props": "off",
    "react/prop-types": 0
  },
  "env": {
    "browser": true
  },
}